@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$font_family : 'Roboto', sans-serif;
$font_xsmall : 0.8rem;
$font_small : 1rem;
$font_medium : 1.5rem;
$font_large : 2rem;
$font_xlarge : 2.5rem;
$font_weight_light : 300;
$font_weight_regular : 400;
$font_weight_medium : 500;
$font_weight_bold : 700;
$font_weight_black : 900;

