// un mapa en variables y usarlo un mixin en mixines y un extend y seo 
@import 'fonts';
@import 'borders';
@import 'colors';
@import 'unidades_medidas';
@import 'variables';
@import 'mixins';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: $font_family;
}

/*------------------------------------------------------- Home -----------------------------------------------------*/

.d-flex-column{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.d-flex-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.first{
  grid-area: hom;
}
.main{
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 90% 10%;
  grid-template-areas: "veh veh veh"
                       "fot fot fot";
 @include sizes(100vw, 92vh);
}
.vehiculos{
  grid-area: veh;
}  
.notice {
  @extend .d-flex-column;
  align-content: flex-start;
  width:$total_width;
  height: $total_height;
  background: url("https://cdn.group.renault.com/ren/ar/banners-home/renault-home-banner-r12-tablet-001.jpg.ximg.medium.webp/c00d3e714f.webp") no-repeat  center;
  background-size: cover;
  
} 
.notice__card {
  @extend .d-flex-row;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  border: 2px white solid;
  width: $total_width / 2;
  height: $total_height / 2;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 254, 254, 0.7)
  );
  margin: $margin_medium auto 0 $margin_base;
  padding: $padding_standar ;
  animation: slider 3s ease-in-out;
}

.notice__titulo {
    font-size: $font_large;
}
.notice__p {
    margin-top: $margin_base;
    font-size: $font_small;
    font-weight: $font_weight_bold;
}
.btn {
    background: $black;
    color: $white;
    border: $none;
    cursor: pointer;
    padding: $padding_standar;
    border-radius: $border_radius ;
    font-size: $font_small;
    margin-top: $marging_standard; /*35 px*/
}
.container__r12{
    @extend .d-flex-row;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    z-index: -1;
    width: $total_width;
    height: 187vh;
  }
  .container__r12__img {
    width: $total_width_vw ;
    height: ($pixel_basic * 7) + ($pixel_basic /2); /*750px*/
  }

  @keyframes slider {
    0% {
      transform: translateX(-850px);
    }
    100% {
      transform: translateX(0px);
    }
  }

/*-----------------------------------------------------------Forms --------------------------------------------------*/
.contacto{
    grid-area: contac;
  }
  .contacto__head{
    @extend .d-flex-column;
  }
  .contentForm {
    @extend .d-flex-column;
    height: ($total_height - 20%);
  }
  /* Atencion */
  .atenc{
    grid-area: aten;
    height: 100vh;
  }
  .atenc__img{
    @extend .d-flex-column;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.group.renault.com/ren/ar/home/renault-range.jpg.ximg.largex2.webp/9356c6ac88.webp") no-repeat center center;
    background-size: cover;
    height: ($total_height - 80%);
  }
  .atencion__p{
    color: $w_smoke;
  }
  .iframe{
    @extend .d-flex-column;
    height: ($total_height - 20%);
    width: $total_width;
    overflow: auto;
  }
  .iframe_map{
    height: $total_height;
    width: ($total_width - 40%);
  }

/*------------------------------------------------------- Renault Sustentable---------------------------------------- */
.rsust{
    grid-area: rsust;
  }
  .renSusten{
    grid-area: aten;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows:0.5fr 0.5fr ;
    grid-template-areas: "ve1 ve1 ve1"
                         "ve2 ve2 ve2" ;
  }
  .renSusten__home{
    grid-area: ve1;
    @extend .d-flex-column;
    flex-flow: column nowrap;
  }
  .renSusten__list{
      @extend .d-flex-row;
    justify-content: space-around;
    width: ($total_width - 10%);
    height: ($total_height - 70%);
    margin: 2%;
  }
  .renSusten__list li a{
    @extend .d-flex-row;
    align-content: center;
    text-decoration: $text_d_none;
    color: $white;
    background-color: $black;
    min-width: ($pixel_basic * 2) - 80px;
    padding: $padding_standar;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  }
  .renSusten__list li a:hover{
    color: $yellow ;  
    filter: opacity(0.9);
    transform: scale(1.04);
  }
  .card_cont{
    grid-area: ve2;
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    grid-auto-rows: minmax(400px, auto);
    grid-auto-flow: dense;
    gap: 8%; 
    margin-left: 5.5%;
  }
  .card_sust1{
    border: $border_standard;
    background: $bg_card_sust;
    @extend .d-flex-column;
    justify-content: space-around;
    height: ($total_height - 10%);
    margin: auto;
    margin-left: 20%;
    transition: transform 0.3s ease-in-out;
  }
  .card_sust1:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }
  .card_sust2{
    border: $border_standard;
    background: $bg_card_sust;
    @extend .d-flex-column;
    justify-content: space-around;
    height: ($total_height - 10%);
    margin: auto;
    margin-left: 20%;
    transition: transform 0.3s ease-in-out;
  }
  .card_sust2:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }
  .card_sust3{
    border: $border_standard;
    background: $bg_card_sust;
    @extend .d-flex-column;
    justify-content: space-around;
    height: ($total_height - 10%);
    margin: auto;
    margin-left: 20%;
    transition: transform 0.3s ease-in-out;
  }
  .card_sust3:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }
  .vermas{
    text-decoration: $text_d_none;
    color: $black;
    font-weight: $font_weight_bold;
    text-decoration: underline 3px rgb(253, 253, 2);
  }
  .vermas:hover{
    text-decoration:underline 3px $black;
    color: $black;
  }
  .img_card{
    width: $total_width;
  }
  .card__p{
    font-weight: $font_weight_bold;
    margin: 2%;
    font-size: $font_xsmall;
    @extend .d-flex-row;
    height: 22%;
    color: $black;
  }

/* ------------------------------------------------------------------Empresas--------------------------------------- */
.renEmpresas{
    grid-area: empr;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows:0.5fr 1.25fr 1.25fr ;
    grid-template-areas: "em1 em1"
                         "em2 em3"
                         "em2 em3" ;
                         height: 100vh;
  }
  .renEmpresas__top{
    grid-area: em1;
    @extend .d-flex-column;
  }
  .renEmpresas__pro{
    grid-area: em2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: "ti"
                         "texto";
  }
  .renEmpresas__pro__img{
    grid-area: ti;  
  }
  .renEmpresas__prom__img{
    grid-area: texto;  
  }
  .renEmpresas__prom__img__text{
    width: $total_width;
    height: ($total_height - 20%);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: $black;    
  }
  .renEmpresas__pro__img__text{
    width: $total_width;
    height: $total_height;
    @extend .d-flex-column;
    align-content: center;
    color: $white;
    background: $gradient_basic, url("https://cdn.group.renault.com/ren/ar/empresas/renault-pro-plus/renault-editorial-renault-pro-plus-header-001.jpg.ximg.mediumx2.webp/c6f1a97db3.webp") no-repeat center center;
    background-size: cover;
  }
  
  .renEmpresas__red{
    grid-area: em3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: "ti2"
                         "texto2";
  }
  .renEmpresas__red__img__text{
    grid-area: ti2;
    width: $total_width;
    height: $total_height;
    @extend .d-flex-column;
    justify-content: space-evenly;
    align-content: center;
    color: $white;
    background: $gradient_basic, url("https://cdn.group.renault.com/ren/ar/empresas/red-pro-plus/renault-editorial-red-pro-plus-header-001.jpg.ximg.medium.webp/13bfe6b4e1.webp") no-repeat center center;
    background-size: cover;
  }
  .renEmpresas__redm__img__text{
    grid-area: texto2;
    width: $total_width;
    height: $total_height;
  }
  .mapaR{
    width: $total_width;
    height: $total_height;
  }

/*-------------------------------------------------------- Vehiculos-------------------------------------------------- */
.vehiculos__home{
    @extend .d-flex-column;
    justify-content: space-between;
    height: ($total_height - 80%);
    
  }
  .vehiculos__list{
    @extend .d-flex-row;
    justify-content: space-around;
    width: $total_width;
    height: ($total_height - 70%);
    margin: 5% 0 5% 0;
  }
  .vehiculos__list li a{
    @extend .d-flex-row;
    text-decoration: $text_d_none;
    color: $white;
    background-color: $black;
    min-width: 120px;
    padding: $padding_standar;
    border-radius: $border_radius;
    transition: transform 0.3s ease-in-out;
  }
  .vehiculos__list li a:hover{
    color: $yellow;  
    filter: opacity(0.9);
    transform: scale(1.04);
  }
  .card {
    @extend .d-flex-column;
    justify-content: space-between;
    background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 254, 254, 0.7)
    );
    padding: $padding_standar;
    margin: 20px 5px 5px 20px;
    text-align: center;
    border: $border_standard;
    height: 350px;
    transition: transform 0.3s ease-in-out;
  }
  .card:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }
  
/*--------------------------------------------------------------- Footer--------------------------------------------- */
.footer {  
  margin-top: 2%;
    grid-area: fot;
    background: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.822));
    color: $white;     
    height: 14.5%;
  }

  .footer__content{   
    @extend .d-flex-row;
    justify-content: space-around;
    gap: 10px;
    align-items: flex-start;
    padding: $padding_standar;
    width: $total_width ;
    height: $total_height;
  }
  .footer__item{
    margin: 4%;
    width: 100%;
  }
  .footer__content li a{
      text-decoration: $text_d_none;
      color: $white;
      display: inline;
  }
  #fb{
    width: $px_logos;
    height: $px_logos;    
  }
  #tw{
    width: $px_logos;
    height: $px_logos;
    list-style: $list_s;
  }
  #in{
    width: $px_logos;
    height: $px_logos;
    list-style: $list_s;
  }
  #yt{
    width: $px_logos;
    height: $px_logos;
    list-style: $list_s;
  }
  #ld{
    width: $px_logos;
    height: $px_logos;
    list-style: $list_s;
  }

  @media (max-width:1227px){
    
    .renEmpresas{
      grid-area: empr;
      display: grid;
      grid-template-columns: 0.5fr 0.5fr;
      grid-template-rows: 0.5fr 1.25fr 1.25fr;
      grid-template-areas:
          "em1 em1"
          "em2 em2"
          "em3 em3";
    }
    .renEmpresas__top{
      grid-area: em1;
    }
    .renEmpresas__pro{
      grid-area: em2;
    }
    .renEmpresas__red{
      grid-area: em3;
    }
    .mapaR{
      height: $total_height - 40%;
    }
    .vehiculos__list{
      justify-content: flex-start;
      align-items: flex-start;
      width: $total_width / 2;
      padding: 0;
    }
    .vehiculos__list li{
      width: $total_width;
      margin: 10% 0 10% 0;
    }
    .vehiculos__list li a{
      width: $total_width;
    }
  }
  @media (max-width:1166px){
    .notice__card{
      height: $total_height - 30%;
      
    }
    .renEmpresas__prom__img__text{
      height: 100%;
    }
    .card{
      margin: auto;
    }
  }
  @media (max-width:1166px){
    .notice__card{
        height: $total_height - 30%;
    }
  }
  @media (max-width:836px){
    .notice__card{
      width: 80%;
    }
  }
  @media (max-width:765px){
    .notice__card{
      width: 80%;
      height: $total_height - 30%;
    }
    .iframe_map{
      width: 100%;
    }
    .footer_menu_dos{
      display: none;
    }
  }
  @media (max-width :647px){
    .card_sust1{
      width: $total_width - 20%;
    }
    .card_sust2{
      width: $total_width - 20%;
    }
    .card_sust3{
      width: $total_width - 20%;
    }
    .card_cont{
      margin: 0;
    }
  }

  @media (max-width:403px){
    .notice__card{
      justify-content: center;
      align-items: center;
      height: 95%;
    }
    .notice__titulo{
      font-size: 1.5rem;
    }
    .btn{
      font-size: 1.2rem;
    }
  }
  @media (max-width:375px){
    .card_cont{
      margin: auto;      
    }
    .card_sust1{
      margin: auto;
    }
    .card_sust2{
      margin: auto;
    }
    .card_sust3{
      margin: auto;
    }
    .footer_menu_one{
      display: none;
    }
  }



