@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

/*------------------------------------------------------- Home -----------------------------------------------------*/
.d-flex-column, .notice, .contacto__head, .contentForm, .atenc__img, .iframe, .renSusten__home, .card_sust1, .card_sust2, .card_sust3, .renEmpresas__top, .renEmpresas__prom__img__text, .renEmpresas__pro__img__text, .renEmpresas__red__img__text, .vehiculos__home, .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-flex-row, .notice__card, .container__r12, .renSusten__list, .renSusten__list li a, .card__p, .vehiculos__list, .vehiculos__list li a, .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first {
  grid-area: hom;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2fr 0.5fr;
      grid-template-columns: 0.5fr 2fr 0.5fr;
  -ms-grid-rows: 90% 10%;
      grid-template-rows: 90% 10%;
      grid-template-areas: "veh veh veh" "fot fot fot";
  height: 92vh;
  width: 100vw;
}

.vehiculos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: veh;
}

.notice {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  height: 100%;
  background: url("https://cdn.group.renault.com/ren/ar/banners-home/renault-home-banner-r12-tablet-001.jpg.ximg.medium.webp/c00d3e714f.webp") no-repeat center;
  background-size: cover;
}

.notice__card {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 2px white solid;
  width: 50%;
  height: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 254, 254, 0.7)));
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 254, 254, 0.7));
  margin: 50px auto 0 25px;
  padding: 1rem;
  -webkit-animation: slider 3s ease-in-out;
          animation: slider 3s ease-in-out;
}

.notice__titulo {
  font-size: 2rem;
}

.notice__p {
  margin-top: 25px;
  font-size: 1rem;
  font-weight: 700;
}

.btn {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 2rem;
  /*35 px*/
}

.container__r12 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 187vh;
}

.container__r12__img {
  width: 100vw;
  height: 750px;
  /*750px*/
}

@-webkit-keyframes slider {
  0% {
    -webkit-transform: translateX(-850px);
            transform: translateX(-850px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slider {
  0% {
    -webkit-transform: translateX(-850px);
            transform: translateX(-850px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/*-----------------------------------------------------------Forms --------------------------------------------------*/
.contacto {
  grid-area: contac;
}

.contentForm {
  height: 80%;
}

/* Atencion */
.atenc {
  grid-area: aten;
  height: 100vh;
}

.atenc__img {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("https://cdn.group.renault.com/ren/ar/home/renault-range.jpg.ximg.largex2.webp/9356c6ac88.webp") no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.group.renault.com/ren/ar/home/renault-range.jpg.ximg.largex2.webp/9356c6ac88.webp") no-repeat center center;
  background-size: cover;
  height: 20%;
}

.atencion__p {
  color: whitesmoke;
}

.iframe {
  height: 80%;
  width: 100%;
  overflow: auto;
}

.iframe_map {
  height: 100%;
  width: 60%;
}

/*------------------------------------------------------- Renault Sustentable---------------------------------------- */
.rsust {
  grid-area: rsust;
}

.renSusten {
  grid-area: aten;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2fr 0.5fr;
      grid-template-columns: 0.5fr 2fr 0.5fr;
  -ms-grid-rows: 0.5fr 0.5fr;
      grid-template-rows: 0.5fr 0.5fr;
      grid-template-areas: "ve1 ve1 ve1" "ve2 ve2 ve2";
}

.renSusten__home {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: ve1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.renSusten__list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  height: 30%;
  margin: 2%;
}

.renSusten__list li a {
  -ms-flex-line-pack: center;
      align-content: center;
  text-decoration: none;
  color: white;
  background-color: black;
  min-width: 120px;
  padding: 1rem;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.renSusten__list li a:hover {
  color: yellow;
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.card_cont {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: ve2;
  font-family: "Roboto", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (320px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 320px);
  grid-auto-rows: minmax(400px, auto);
  grid-auto-flow: dense;
  gap: 8%;
  margin-left: 5.5%;
}

.card_sust1 {
  border: 2px solid black;
  background: rgba(245, 245, 245, 0.603);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 90%;
  margin: auto;
  margin-left: 20%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.card_sust1:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.card_sust2 {
  border: 2px solid black;
  background: rgba(245, 245, 245, 0.603);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 90%;
  margin: auto;
  margin-left: 20%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.card_sust2:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.card_sust3 {
  border: 2px solid black;
  background: rgba(245, 245, 245, 0.603);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 90%;
  margin: auto;
  margin-left: 20%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.card_sust3:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.vermas {
  text-decoration: none;
  color: black;
  font-weight: 700;
  -webkit-text-decoration: underline 3px #fdfd02;
          text-decoration: underline 3px #fdfd02;
}

.vermas:hover {
  -webkit-text-decoration: underline 3px black;
          text-decoration: underline 3px black;
  color: black;
}

.img_card {
  width: 100%;
}

.card__p {
  font-weight: 700;
  margin: 2%;
  font-size: 0.8rem;
  height: 22%;
  color: black;
}

/* ------------------------------------------------------------------Empresas--------------------------------------- */
.renEmpresas {
  grid-area: empr;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 0.5fr;
      grid-template-columns: 0.5fr 0.5fr;
  -ms-grid-rows: 0.5fr 1.25fr 1.25fr;
      grid-template-rows: 0.5fr 1.25fr 1.25fr;
      grid-template-areas: "em1 em1" "em2 em3" "em2 em3";
  height: 100vh;
}

.renEmpresas__top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: em1;
}

.renEmpresas__pro {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: em2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.5fr 0.5fr;
      grid-template-rows: 0.5fr 0.5fr;
      grid-template-areas: "ti" "texto";
}

.renEmpresas__pro__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ti;
}

.renEmpresas__prom__img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: texto;
}

.renEmpresas__prom__img__text {
  width: 100%;
  height: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  color: black;
}

.renEmpresas__pro__img__text {
  width: 100%;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("https://cdn.group.renault.com/ren/ar/empresas/renault-pro-plus/renault-editorial-renault-pro-plus-header-001.jpg.ximg.mediumx2.webp/c6f1a97db3.webp") no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.group.renault.com/ren/ar/empresas/renault-pro-plus/renault-editorial-renault-pro-plus-header-001.jpg.ximg.mediumx2.webp/c6f1a97db3.webp") no-repeat center center;
  background-size: cover;
}

.renEmpresas__red {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: em3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.5fr 0.5fr;
      grid-template-rows: 0.5fr 0.5fr;
      grid-template-areas: "ti2" "texto2";
}

.renEmpresas__red__img__text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ti2;
  width: 100%;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("https://cdn.group.renault.com/ren/ar/empresas/red-pro-plus/renault-editorial-red-pro-plus-header-001.jpg.ximg.medium.webp/13bfe6b4e1.webp") no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.group.renault.com/ren/ar/empresas/red-pro-plus/renault-editorial-red-pro-plus-header-001.jpg.ximg.medium.webp/13bfe6b4e1.webp") no-repeat center center;
  background-size: cover;
}

.renEmpresas__redm__img__text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: texto2;
  width: 100%;
  height: 100%;
}

.mapaR {
  width: 100%;
  height: 100%;
}

/*-------------------------------------------------------- Vehiculos-------------------------------------------------- */
.vehiculos__home {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20%;
}

.vehiculos__list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 30%;
  margin: 5% 0 5% 0;
}

.vehiculos__list li a {
  text-decoration: none;
  color: white;
  background-color: black;
  min-width: 120px;
  padding: 1rem;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.vehiculos__list li a:hover {
  color: yellow;
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.card {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 254, 254, 0.7)));
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 254, 254, 0.7));
  padding: 1rem;
  margin: 20px 5px 5px 20px;
  text-align: center;
  border: 2px solid black;
  height: 350px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.card:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

/*--------------------------------------------------------------- Footer--------------------------------------------- */
.footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: fot;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.795)), to(rgba(0, 0, 0, 0.822)));
  background: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.822));
  color: white;
  height: 14.5%;
}

.footer__content {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1rem;
  width: 100%;
  height: 100%;
  margin: 5% 0 0 0;
}

.footer__content li a {
  text-decoration: none;
  color: white;
}

#fb {
  width: 30px;
  height: 30px;
}

#tw {
  width: 30px;
  height: 30px;
  list-style: none;
}

#in {
  width: 30px;
  height: 30px;
  list-style: none;
}

#yt {
  width: 30px;
  height: 30px;
  list-style: none;
}

#ld {
  width: 30px;
  height: 30px;
  list-style: none;
}

@media (max-width: 1227px) {
  .renSusten {
    grid-area: aten;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.2fr 1.7fr;
        grid-template-columns: 0.2fr 1.7fr;
    -ms-grid-rows: 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-areas: "ve1 ve2" "ve1 ve2";
  }
  .renSusten__home {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: ve1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .renSusten__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    height: 90%;
    padding: 0;
  }
  .renSusten__list li {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin: 0;
  }
  .renSusten__list li a {
    margin: 10% 0 10% 0;
    width: 100%;
  }
  .card_cont {
    -ms-grid-columns: 0.1fr 1.8fr;
        grid-template-columns: 0.1fr 1.8fr;
    -ms-grid-rows: minmax(400px, auto);
        grid-template-rows: minmax(400px, auto);
        grid-template-areas: "na ca " "na ca2" "na ca3";
    position: relative;
    overflow: auto;
  }
  .card_sust1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: ca;
    height: 100%;
    width: 40%;
    padding: 1%;
  }
  .card_sust2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: ca2;
    height: 100%;
    width: 40%;
  }
  .card_sust3 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: ca3;
    height: 100%;
    width: 40%;
  }
  .img_card {
    width: 100%;
  }
  .renEmpresas {
    grid-area: empr;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 0.5fr;
        grid-template-columns: 0.5fr 0.5fr;
    -ms-grid-rows: 0.5fr 1.25fr 1.25fr;
        grid-template-rows: 0.5fr 1.25fr 1.25fr;
        grid-template-areas: "em1 em1" "em2 em2" "em3 em3";
  }
  .mapaR {
    height: 60%;
  }
  .vehiculos__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50%;
    padding: 0;
  }
  .vehiculos__list li {
    width: 100%;
    margin: 10% 0 10% 0;
  }
  .vehiculos__list li a {
    width: 100%;
  }
}

@media (max-width: 1166px) {
  .notice__card {
    height: 70%;
  }
}

@media (max-width: 1166px) {
  .notice__card {
    height: 70%;
  }
}

@media (max-width: 836px) {
  .notice__card {
    width: 100%;
  }
}

@media (max-width: 765px) {
  .notice__card {
    width: 100%;
    height: 70%;
  }
}
/*# sourceMappingURL=styles.css.map */