@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
/*------------------------------------------------------- Home -----------------------------------------------------*/
.first{
  grid-area: hom;
}
.main{
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 90% 10%;
  grid-template-areas: "veh veh veh"
                       "fot fot fot";
  height: 92vh;
  width: 100vw;
}
.vehiculos{
  grid-area: veh;
}  
.notice {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: flex-start;
  width:100%;
  height: 100%;
  background: url("https://cdn.group.renault.com/ren/ar/banners-home/renault-home-banner-r12-tablet-001.jpg.ximg.medium.webp/c00d3e714f.webp") no-repeat  center;
  background-size: cover;
  
} 
.notice__card {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  border: 2px white solid;
  width: 50%;
  height: 50%;
  background: linear-gradient(
    rgb(255, 255, 255, 0.7),
    rgba(255, 254, 254, 0.7)
  );
  margin: 50px auto 0 15px;
  padding: 20px;
  animation: slider 3s ease-in-out;
}
@keyframes slider {
  0% {
    transform: translateX(-850px);
  }
  100% {
    transform: translateX(0px);
  }
}
.notice__titulo {
  font-size: 32px;
}
.notice__p {
  margin-top: 25px;
  font-size: 15px;
  font-weight: 700;
}
.btn {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 3px;
  font-size: 15px;
  margin-top: 35px;
}
  
.container__r12{
  display: flex;
  position: absolute;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: -1;
  width: 100%;
  height: 187vh;
}
.container__r12__img {
  width: 100vw;
  height: 750px;
}
/*-----------------------------------------------------------Forms --------------------------------------------------*/
.contacto{
  grid-area: contac;
}
.contacto__head{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.contentForm {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 80%;
}
/* Atencion */
.atenc{
  grid-area: aten;
}
.atenc__img{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.group.renault.com/ren/ar/home/renault-range.jpg.ximg.largex2.webp/9356c6ac88.webp") no-repeat center center;
  background-size: cover;
  height: 20%;
}
.atencion__p{
  color: whitesmoke;
}
.iframe{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  height: 80%;
  width: 100%;
  overflow: auto;
}
.iframe_map{
  height: 100%;
  width: 60%;
}

/*------------------------------------------------------- Renault Sustentable---------------------------------------- */
.rsust{
  grid-area: rsust;
}
.renSusten{
  grid-area: aten;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows:0.5fr 0.5fr ;
  grid-template-areas: "ve1 ve1 ve1"
                       "ve2 ve2 ve2" ;
}
.renSusten__home{
  grid-area: ve1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.renSusten__list{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 30%;
  margin: 2%;
}
.renSusten__list li a{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: white;
  background-color: black;
  min-width: 120px;
  padding: 10px;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}
.renSusten__list li a:hover{
  color: yellow;  
  filter: opacity(0.9);
  transform: scale(1.04);
}
.card_cont{
  grid-area: ve2;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-auto-rows: minmax(400px, auto);
  grid-auto-flow: dense;
  gap: 8%; 
  margin-left: 5.5%;
}
.card_sust1{
  border: 2px solid black;
  background: rgba(245, 245, 245, 0.603);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  margin: auto;
  margin-left: 20%;
  transition: transform 0.3s ease-in-out;
}
.card_sust1:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}
.vermas{
  text-decoration: none;
  color: black;
  font-weight: 700;
  text-decoration: underline 3px rgb(253, 253, 2);
}
.vermas:hover{
  text-decoration:underline 3px black;
  color: black;
}

.card_sust2{
  border: 2px solid black;
  background: rgba(245, 245, 245, 0.603);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  margin: auto;
  margin-left: 20%;
  transition: transform 0.3s ease-in-out;
}
.card_sust2:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}
.card_sust3{
  border: 2px solid black;
  background: rgba(245, 245, 245, 0.603);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  margin: auto;
  margin-left: 20%;
  transition: transform 0.3s ease-in-out;
}
.card_sust3:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}
.img_card{
  width: 100%;
}
.card__p{
  font-weight: 700;
  margin: 2%;
  font-size: 0.8rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 22%;
  color: black;
}
/* ------------------------------------------------------------------Empresas--------------------------------------- */
.renEmpresas{
  grid-area: empr;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows:0.5fr 1.25fr 1.25fr ;
  grid-template-areas: "em1 em1"
                       "em2 em3"
                       "em2 em3" ;
                       height: 100vh;
}
.renEmpresas__top{
  grid-area: em1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
.renEmpresas__pro{
  grid-area: em2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas: "ti"
                       "texto";
}
.renEmpresas__pro__img{
  grid-area: ti;  
}
.renEmpresas__prom__img{
  grid-area: texto;  
}
.renEmpresas__prom__img__text{
  width: 100%;
  height: 80%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  color: black;
  
}
.renEmpresas__pro__img__text{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.group.renault.com/ren/ar/empresas/renault-pro-plus/renault-editorial-renault-pro-plus-header-001.jpg.ximg.mediumx2.webp/c6f1a97db3.webp") no-repeat center center;
  background-size: cover;
}

.renEmpresas__red{
  grid-area: em3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas: "ti2"
                       "texto2";
}
.renEmpresas__red__img__text{
  grid-area: ti2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.group.renault.com/ren/ar/empresas/red-pro-plus/renault-editorial-red-pro-plus-header-001.jpg.ximg.medium.webp/13bfe6b4e1.webp") no-repeat center center;
  background-size: cover;
}
.renEmpresas__redm__img__text{
  grid-area: texto2;
  width: 100%;
  height: 100%;
}
.mapaR{
  width: 100%;
  height: 100%;
}


/*-------------------------------------------------------- Vehiculos-------------------------------------------------- */
.vehiculos__home{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  
}
.vehiculos__list{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30%;
  margin: 5% 0 5% 0;
}
.vehiculos__list li a{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: white;
  background-color: black;
  min-width: 120px;
  padding: 10px;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}
.vehiculos__list li a:hover{
  color: yellow;  
  filter: opacity(0.9);
  transform: scale(1.04);
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgb(255, 255, 255, 0.7),
    rgba(255, 254, 254, 0.7)
  );
  padding: 15px;
  box-sizing: border-box;
  margin: 20px 5px 5px 20px;
  text-align: center;
  flex-direction: column;
  border: 2px solid black;
  height: 350px;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}
/*--------------------------------------------------------------- Footer--------------------------------------------- */
.footer {  
  grid-area: fot;
  background: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.822));
  color: white;     
  height: 14.5%;
}
.footer__content{    
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 10px;
  align-content: center;
  align-items: center;
  padding: 8px;
  width: 100%;
  height: 100%;
  margin: 5% 0 0 0;
}
.footer__content li a{
    text-decoration: none;
    color: white;
}
#fb{
  width: 30px;
  height: 30px;    
}
#tw{
  width: 30px;
  height: 30px;
  list-style: none;
}
#in{
  width: 30px;
  height: 30px;
  list-style: none;
}
#yt{
  width: 30px;
  height: 30px;
  list-style: none;
}
#ld{
  width: 30px;
  height: 30px;
  list-style: none;
}
@media (max-width:1227px){
  .renSusten{
    grid-area: aten;
    display: grid;
    grid-template-columns: 0.2fr 1.7fr;
    grid-template-rows:0.5fr 0.5fr ;
    grid-template-areas: "ve1 ve2"
                         "ve1 ve2" ;
  }
  .renSusten__home{
    grid-area: ve1;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .renSusten__list{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start; 
    width: 100%;
    height: 90%; 
    padding: 0;
  }
  .renSusten__list li{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0;
  }
  .renSusten__list li a{
    margin: 10% 0 10% 0;
    width: 100%;
  }
  .card_cont{
    grid-template-columns: 0.1fr 1.8fr;
    grid-template-rows: minmax(400px, auto);
    grid-template-areas: "na ca "
                         "na ca2"
                         "na ca3";
    position: relative;
    overflow: auto;
  }
  
  .card_sust1{
    grid-area: ca;
    height: 100%;
    width: 40%;
    padding: 1%;
  }
  .card_sust2{
    grid-area: ca2;
    height: 100%;
    width: 40%;
  }
  .card_sust3{
    grid-area: ca3;
    height: 100%;
    width: 40%;
  }
  .img_card{
    width: 100%;
  }
  .renEmpresas{
    grid-area: empr;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 1.25fr 1.25fr;
    grid-template-areas:
        "em1 em1"
        "em2 em2"
        "em3 em3";
  }
  .mapaR{
    height: 60%;
  }
  .vehiculos__list{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    padding: 0;
  }
  .vehiculos__list li{
    width: 100%;
    margin: 10% 0 10% 0;
  }
  .vehiculos__list li a{
    width: 100%;
  }
}
@media (max-width:1166px){
  .notice__card{
    height: 70%;
    
  }
}
@media (max-width:1166px){
  .notice__card{
    height: 70%;
  }
}
@media (max-width:836px){
  .notice__card{
    width: 100%;
  }
}
@media (max-width:765px){
  .notice__card{
    width: 100%;
    height: 70%;
  }
}